[submodule "Assets/SdkManager"]
	path = Assets/SdkManager
	url = https://github.com/xclouder/SdkManager.git
[submodule "Assets/Editor/xClouderSearch"]
	path = Assets/Editor/xClouderSearch
	url = https://github.com/xclouder/xcloudersearch.git
[submodule "Assets/Editor/STTool"]
	path = Assets/Editor/STTool
	url = https://github.com/xclouder/STTool.git
